// 规定统一风格
$font_size_12: 12px;
$font_size_14: 14px;
$font_size_16: 16px;
$font_size_20: 20px;
$font_size_24: 24px;
$font_size_28: 28px;
$font_size_32: 32px;
$font_size_40: 40px;

$text-color-black: #000000;
$text-color-dark-black: #333333;
$text-color-gray: #808080;
$text-color-dark-gray: #A9A9A9;

$background-color-white: #f2f2f2;
$background-color-gray-white: #f8f8f8;